<div class="nav-container " >
    <nav class="navigation navbar navbar-expand-md navbar-light" 
    style="z-index:1; width: inherit; position: sticky; "
    >

        <a class="navbar-brand dd-logo" routerLink="/">
            Desserts Delight
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navList">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navList">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" routerLink="/myblog">My Blog</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
</div>

